MONGO_URI=mongodb://localhost:27017/uber_simulation
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:29092
MATCHING_SERVICE_URL=http://localhost:4010
ML_SERVICE_URL=http://localhost:8000
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=uber_simulation
MYSQL_USER=uber_app
MYSQL_PASSWORD=uber_password
MYSQL_REQUIRED=false
